:root {
  --primary-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --dark-accent-color: #000000;
  --white-accent-color: #ffffff;

  --dark-bcg-cl: #2f303a;
  --button-bcg-cl: #f5f4fa;
  --team-bcg-cl: #f5f4fa;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для index.html */
body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
  background-color: #1add5b;
}
.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.site-contacts .link:hover,
.site-contacts .link:focus,
.address-contacts:hover,
.address-contacts:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--dark-accent-color);
}
/* Site nav */

.site-nav .link {
  color: var(--section-title-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

/* Site-contacts */

.site-contacts .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

/* Hero */

.hero {
  margin-bottom: 94px;
  background-color: var(--dark-bcg-cl);
  letter-spacing: 0.06em;
  text-align: center;

  outline: 2px solid rgb(51, 12, 102);
  background-color: #b60909;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  outline: 2px solid rgb(78, 150, 209);
  background-color: #441839;
}

.title {
  margin-bottom: 10px;
}

.section-title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Features */

.features-list .title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--section-title-color);
}

.section .title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section .specialty {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* Team */

.team {
  background-color: var(--team-bcg-cl);
}

.master .list {
  color: var(--section-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.master-post {
  font-size: 16px;
  line-height: 1.19;
}
/* Button */

.button,
.button.primary {
  background-color: var(--accent-color);
}

.button {
  color: var(--button-text-color);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

.button.primary {
  color: var(--button-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.pointer {
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--dark-bcg-cl);
  font-size: 14px;
  line-height: 1.71;
}

.address-location {
  color: var(--button-text-color);
  font-style: normal;
}

.address-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-accent {
  color: var(--white-accent-color);
}

/* Стили для portfolio.html */

.section .filters {
  color: var(--section-title-color);
  background-color: var(--button-bcg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filters {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
}
.filters:hover,
.filters:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--dark-accent-color);
}

.section .caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section .group {
  font-size: 16px;
  line-height: 1.87;
}
